ollama_data/
whisper_data/
piper_data/
openwakeword_data/
chroma_data/
mosquitto/data/
mosquitto/log/
venv/
.venv/
__pycache__/
*.pyc
*.m4a
*.mp3
*.wav
*.mp4
*.log
.DS_Store
Thumbs.db
config/backups/
config/home-assistant_v2.db
config/.skyfield/
